/*Pages with searchbar*/
* {
  box-sizing: border-box;
}

#myInput {
    bottom:1%;
    position:fixed;
    left:5%;
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 90%;
  font-size: 16px;
  padding: 12px 50px 12px 40px;
  border: 6px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}
/*Pages with searchbar*/
#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

td{
     border: 2px solid #ccc;
    width: 120px;
    border-radius: 25px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
    z-index: 23;
    cursor: cell;
}
