.header{
  width:100%;
  height:35%;
  border:1;
} 


body {
    background: grey;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(.34, rgba(230,237,241,.05)),
        color-stop(.67, rgba(230,237,241,0)));
    -webkit-background-size: 5px 5px;
}
input[type=text] {
    width: 60%;
    
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding-left:20px;
}
/*input[type=text]:focus {
    background-color: #e6ffe6;
}*/
#logo {
    border: 2px solid #ccc;
    border-radius: 4px;
    float: left;
    margin: 0 10 10px 10px;
    width:100px;
}
.productSelect{
    
}
.productBtn{
    width:60px;
    height:60px;
    margin:-15px 20px 20px 20px ;
    float:left;

}
.prodImg{
    width:98%;
    height:98%;
    position:absolute;
}
#appleBtn{
    background:url(../img/fruit/apples/red_s.jpg);background-size: contain; background-repeat: round;
}
#bananaBtn{
    background:url(../img/fruit/bananas/banana.jpg);background-size: cover; background-repeat: round;
}
#kiwiBtn{
    background:url(../img/fruit/kiwi/kiwi.jpg);background-size: cover; background-repeat: round;
}
#orangeBtn{
    background:url(../img/fruit/orange/orange.jpg);background-size: cover; background-repeat: round;
}