

.register{
        background-image: url("http://www.findyourcornwall.co.uk/img/FYC-shopping-food+drink-001.jpg");
        width:100%;
        height:100%;
        background-repeat; no-repeat;
    
    }
    
    .child{
  background-color: white;
  position: absolute;
  width: 90%;
  height: auto;
  z-index: 15;
  top: 30%;
  left: 50%;
 /* margin: -100px 0 0 -150px;*/
 margin:-20% 0 0 -20%;
 
}

.child img{
 display: block;
 margin: 0 auto;
  margin-left: auto;
	width:150px;
  height: 150px;
  margin-top:20px;
  margin-bottom: 30px;
  
}

.h1{
    text-align: center;
    color: black;
}


.button{
    position: absolute;
    top: 50px;
    left: 110px;
    margin: 0 auto;  
} 

.input{
    text-align: center;
}

.ul li{
 Display:inline;
}

.regGuestBtn{
 cursor: pointer;
}