

  .register{
        background-color: #ff0066;
        
        width: 100%;
        height:100%;
        }
    
 

 .child img{
 
 display: block;
 margin: 0 auto;
 margin-left: auto;
 width:90px;
  height: 90px;
  margin-top:20px;
  margin-bottom: 30px;
  
}

.child{
background-color: #cccccc;
position: absolute;  
width: 300px;  
height: 500px;   
left: 10%;   
margin:0 auto;  
margin-top:10px; 

 /*width: 80%;
 height: 90%;
 margin-top: 30px;
 margin-left: 10px; */
 
}

.h1{
    text-align: center;
    color: black;
}


.button{
    position: absolute;
    top: 50px;
    left: 110px;
    margin: 0 auto;  
} 
form{
    display: block;
 margin: 0 auto;
 margin-left: auto;
   /* position: absolute;*/
}
.input{
    text-align: center;
    height:30px; 
    width: 200px; 
    font-size:12pt; 
}
#loginBtn{
    height:40px; 
    width: 110px; 
    font-size:13pt; 
    color:black; 
    font-family:Helvetica Neue; 
    cursor: pointer; 
    background-color: gray;
}

.ul li{
 Display:inline;
}

.regGuestBtn{
 cursor: pointer;
}
p{
    text-align: center;
}



/*<?php
   require_once('ConnectRegphp.php');
  if(isset($_POST) & !empty($_POST)){
      
      $username = mysqli_real_escape_string($conection, $_POST['username']) ;
      $email = mysqli_real_escape_string($conection, $_POST['email']) ;
      $password = md5($conection, $_POST['password']) ;


     
{
    $sql = "INSERT INTO users (username, password, email)
    VALUES ('".$_POST["username"]."','".$_POST["password"]."','".$_POST["email"]."')";

    $result = mysqli_query($conn,$sql);
}    if($result){
        echo 'You have successfully registered';
            }else{
        echo 'Unable to register';
       
}

?>*/